section {
    margin-left: calc(var(--mantine-spacing-md) * -1);
    margin-right: calc(var(--mantine-spacing-md) * -1);
    margin-bottom: var(--mantine-spacing-md);

    &:not(:last-of-type) {
        border-bottom: rem(1) solid light-dark(
                var(--mantine-colors-dark-4),
                var(--mantine-colors-gray-3)
        );
    }
}
