.container {
    background-color: light-dark(
            var(--mantine-color-white),
            var(--mantine-color-black-0)
    );
    border-bottom:0.0625rem solid #e9ecef;
    font-family:'Work Sans',sans-serif;
    height:3.75rem;
    max-height:3.75rem;
    padding-left:1rem;
    padding-right:1rem;
}

.link {
    align-items: center;
    color: light-dark(
            var(--mantine-color-black-0),
            var(--mantine-color-white-0)
    );
    display: flex;
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;

    @media (max-width: 600px) {
        align-items: center;
        display: flex;
        height: var(--mantine-spacing-lg);
        width: 100%;
    }

    &:hover {
        background-color: light-dark(
                var(--mantine-color-gray-0),
                var(--mantine-color-dark-7)
        );
    }
}

.subLink {
    border-radius: var(--mantine-radius-md);
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    width: 100%;

    &:hover {
        background-color: light-dark(
                var(--mantine-color-gray-0),
                var(--mantine-color-dark-7)
        );
    }

    &:active {
        color: red
    }
}

.dropdownFooter {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    border-top: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
    margin: calc(var(--mantine-spacing-md) * -1);
    margin-top: var(--mantine-spacing-sm);
    padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
    padding-bottom: var(--mantine-spacing-xl);
}

.hiddenMobile {
    @media (max-width: 600px) {
        display: none;
    }
}

.hiddenDesktop {
    @media (min-width: 601px) {
        display: none;
    }
}
