.link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: light-dark(
            var(--mantine-white),
            var(--mantine-black)
    );
    font-weight: 500;
    font-size: var(--mantine-fontSizes-sm);

    @media (max-width: 600px) {
        height: var(--mantine-spacing-42);
        display: flex;
        align-items: center;
        width: 100%;
    }

    &:hover {
        background-color: light-dark(
                var(--mantine-colors-dark-6),
                var(--mantine-colors-gray-0)
        );
    }
}

.subLink {
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);

    &:hover {
        background-color: light-dark(
                var(--mantine-colors-dark-7),
                var(--mantine-colors-gray-0)
        );
    }

    &:active {
        color: red
    }
}

.dropdownFooter {
    background-color: light-dark(
            var(--mantine-colors-dark-7),
            var(--mantine-colors-gray-0)
    );
    margin: calc(var(--mantine-spacing-md) * -1);
    margin-top: var(--mantine-spacing-sm);
    padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
    padding-bottom: var(--mantine-spacing-xl);
    border-top: 1px solid light-dark(
            var(--mantine-colors-dark-5),
            var(--mantine-colors-gray-1)
    );
}

.hiddenMobile {
    @media (max-width: 600px) {
        display: none;
    }
}

.hiddenDesktop {
    @media (min-width: 601px) {
        display: none;
    }
}
