# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
# Production you can use railway.app(https://railway.app?referralCode=p8j7zd)
DATABASE_URL="postgresql://t3:mantine@localhost:5432/t3-mantine-clerk"

# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_{}
CLERK_SECRET_KEY=sk_test_{}

# Docker local postgres run `docker-compose up -d`
PG_CONTAINER_NAME='postgres_t3'
POSTGRES_USER='t3'
POSTGRES_PASSWORD='mantine'
POSTGRES_DB='t3-mantine-clerk'
PGDATA='/data/postgres-t3'
