.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-sm);
    border: 1px solid light-dark(
            'transparent',
            var(--mantine-color-gray-3)
    );
    background-color: light-dark(
            var(--mantine-color-dark-5),
            var(--mantine-color-white)
    );

    &:focus-within {
        border-color: var(--mantine-color-blue-6);
    }
}

.control {
    background-color: light-dark(
            var(--mantine-color-dark-7),
            var(--mantine-color-white)
    );
    border: 1px solid light-dark(
            'transparent',
            var(--mantine-color-gray-3)
    );

    &:disabled {
        border-color: var(--mantine-color-gray-3);
        opacity: 0.8;
        background-color: transparent;
    }
}

.input {
    text-align: center;
    padding-right: var(--mantine-spacing-sm) !important;
    padding-left: var(--mantine-spacing-sm) !important;
    height: var(--mantine-spacing-28);
    flex: 1;
}

.error {
    background-color: light-dark(
            rgba(var(--mantine-color-red-8), 0.15),
            var(--mantine-color-red-0)
    );
}

.icon {
    color: light-dark(
            var(--mantine-color-red-7),
            var(--mantine-color-red-6)
    );
}
